* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: Roboto, Arial, Helvetica;
}
body:after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/img/fundo-ipe.webp);
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity : 0.4;
  z-index: -1;
}
#menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 47px;
  min-width: 700px;
  align-items: center;
  font-size: 16px;
}
.a-menu {
  text-decoration: none;
  padding: 14px;
  color: white;
  font-weight: bold;
  transition: background .3s;
}
.a-menu:hover {
  background-color: #787878;
}
#exercise3{
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.exercise{
  width: 90vw;
}
#frm-inputs{
  padding-top: 5vh;
} 
.ctn-input{
  width: 30vw;
  display: flex;
  padding-top: 1vh;
  gap: 1vw;
}
.ctn-input input{
  width: 8vw;
  padding: 2px;
}
.ctn-input label{
  width: 10vw;
  text-align: right;
}
#ctn-check{
  width: 30vw;
  display: flex;
  align-items: center;
  padding-top: 2vh;
  gap: 2vw;
}
#btn-check{
  width: 10vw;
  height: 4vh;
  color: #fff;
  background-color: #787878;
  border-radius: 5px;
  cursor: pointer;
}
#btn-check:hover{
  background-color: #78787870;
  color: #000;
}
#results{
  width: 20vw;
}
#p-menor{
  font-weight: 700;
  font-size: 1.4vw;
  word-spacing: 0.2;
  width: 15vw;
  text-align: left;
}
#p-maior{
  font-weight: 700;
  font-size: 1.4vw;
  word-spacing: 0.2;
  width: 15vw;
  text-align: left;
}